app/data/xml/vinyl_condition.dtd

<!ELEMENT database (#PCDATA|metadata|table)*>
<!ELEMENT metadata (type,name,description)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT table (type,name,database,VinylConditions)>
<!ELEMENT VinylConditions (VinylCondition+)>
<!ELEMENT VinylCondition (#PCDATA)>